<div class="flex flex-col m-8 w-full">
    <!-- Breadcrumb -->
    <div
        class="flex flex-wrap items-center text-sm font-medium mb-4 px-6 ml-2 text-black dark:text-white cursor-pointer">
        <a class="whitespace-nowrap">Requisition</a>
        <div class="flex items-center ml-1 whitespace-nowrap">
            <!-- <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
            <a class="ml-1">All Requisitions</a> -->
            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
            <a class="ml-1">{{currentState}}</a>
        </div>
    </div>

    <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" [@.disabled]="true" class=" mt-4">
        <mat-tab label="Ongoing">
            <div>
                <div class="flex flex-row overflow-hidden">

                    <!-- Products list -->
                    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                        <ng-container *ngIf="requisitions">
                            <div *ngIf="requisitions.length > 0; else noProducts">
                                <div class="grid text-start ">
                                    <!-- Rows -->
                                    <ng-container *ngIf="requisitions">
                                        <ng-container *ngFor="let requisition of requisitions;">
                                            <div
                                                class="inventory-grid grid items-start gap-4 py-2 px-4 md:px-8 bg-white dark:bg-[#1e293b] rounded-md border border-b-1">

                                                <div class="mt-2">
                                                    {{requisition.employeeName}}
                                                </div>

                                                <div class="mt-2">
                                                    {{requisition.categoryName}}
                                                </div>

                                                <div class="mt-2">
                                                    {{requisition.productName}}
                                                </div>

                                                <!-- <div>
                                            {{requisition.productName}}
                                        </div> -->

                                                <div class="mt-1">
                                                    <mat-chip-list class="flex flex-row justify-center">
                                                        <mat-chip *ngIf="requisition.statusCode === 1"
                                                            class="bg-green-200 dark:bg-green-400" color="primary">
                                                            {{requisition.status}}</mat-chip>
                                                        <mat-chip *ngIf="requisition.statusCode === 2"
                                                            class="bg-red-200 dark:bg-red-400" color="primary">
                                                            {{requisition.status}}</mat-chip>
                                                        <mat-chip *ngIf="requisition.statusCode === 0" color="primary">
                                                            {{requisition.status}}</mat-chip>
                                                        <!-- <mat-chip *ngIf="requisition.statusCode === 'Admin Approval'" color="primary">
                                                            {{requisition.status}}</mat-chip> -->
                                                    </mat-chip-list>
                                                </div>


                                                <div class="flex flex-row">
                                                    <button (click)="onView(requisition)"
                                                        class="bg-transparent mr-2 mt-1 hover:bg-primary-500 disabled:hover:bg-gray-400 disabled:text-white disabled:bg-gray-400 disabled:cursor-not-allowed font-medium hover:text-white py-1 px-4 border disabled:border-none border-primary-500 hover:border-transparent rounded">
                                                        View
                                                    </button>

                                                </div>


                                            </div>

                                        </ng-container>
                                    </ng-container>
                                    <!-- <app-paginator class="relative bottom-5"></app-paginator> -->
                                </div>
                            </div>
                        </ng-container>


                        <ng-template #noProducts>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No
                                Requests Available!</div>
                        </ng-template>

                    </div>

                </div>
            </div>
        </mat-tab>
        <mat-tab label="History">
            <div>
                <div class="flex flex-row overflow-hidden">
                    <!-- Products list -->
                    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                        <ng-container *ngIf="requisitions">
                            <div *ngIf="requisitions.length > 0; else noProducts">
                                <div class="grid text-start ">
                                    <!-- Rows -->
                                    <ng-container *ngIf="requisitions">
                                        <ng-container *ngFor="let requisition of requisitions;">
                                            <div
                                                class="inventory-grid grid items-start gap-4 py-2 px-4 md:px-8 bg-white dark:bg-[#1e293b] rounded-md border border-b-1">

                                                <div class="mt-2">
                                                    {{requisition.employeeName}}
                                                </div>

                                                <div class="mt-2">
                                                    {{requisition.categoryName}}
                                                </div>

                                                <div class="mt-2">
                                                    {{requisition.productName}}
                                                </div>

                                                <div class="mt-1">
                                                    <mat-chip-list class="flex flex-row justify-center">
                                                        <mat-chip *ngIf="requisition.statusCode === 1"
                                                            class="bg-green-200 dark:bg-green-400" color="primary">
                                                            {{requisition.status}}</mat-chip>
                                                        <mat-chip *ngIf="requisition.statusCode === 2"
                                                            class="bg-red-200 dark:bg-red-400" color="primary">
                                                            {{requisition.status}}</mat-chip>
                                                        <mat-chip *ngIf="requisition.statusCode === 0" color="primary">
                                                            {{requisition.status}}</mat-chip>
                                                        <!-- <mat-chip *ngIf="requisition.statusCode === 'Admin Approval'" color="primary">
                                                            {{requisition.status}}</mat-chip> -->
                                                    </mat-chip-list>
                                                </div>


                                                <div class="mt-2">
                                                    <!-- <button (click)="onView(requisition)"
                                                        class="bg-transparent mr-2 mt-1 hover:bg-primary-500 disabled:hover:bg-gray-400 disabled:text-white disabled:bg-gray-400 disabled:cursor-not-allowed font-medium hover:text-white py-1 px-4 border disabled:border-none border-primary-500 hover:border-transparent rounded">
                                                        View
                                                    </button> -->
                                                    {{requisition.date | date}}

                                                </div>


                                            </div>

                                        </ng-container>
                                    </ng-container>
                                    <!-- <app-paginator class="relative bottom-5"></app-paginator> -->
                                </div>
                            </div>
                        </ng-container>


                        <ng-template #noProducts>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No
                                Requests Available!</div>
                        </ng-template>

                    </div>

                </div>
            </div>
        </mat-tab>
    </mat-tab-group>



</div>