// for desktop
@media screen and (min-width: 1650px) {
    .inventory-grid {
        grid-template-columns: 23rem 21rem auto 29rem 8rem;
        // display: flex;
        // justify-content: space-around;
        margin-bottom: 4px;
    }
}

// for laptop
@media screen and (max-width: 1650px) {
    .inventory-grid {
        grid-template-columns: 17rem 16rem auto 17rem 5rem;
        // display: flex;
        // justify-content: space-around;
        margin-bottom: 4px;
    }
}


