<div class="w-full flex flex-col">
    <div class="">
        <span class="font-semibold text-lg mb-3">Assign Role</span>
        <mat-divider class="mt-4"></mat-divider>
    </div>
   
    <form [formGroup]="form" class="pt-2">

        <div class="flex flex-col justify-evenly">
            <div class="w-full py-3">
                <mat-checkbox (change)="checkItem(1, $event)" formControlName="employee" class="example-margin">Employee</mat-checkbox>
            </div>

            <div class="w-full py-3">
                <mat-checkbox (change)="checkItem(5, $event)" formControlName="employeeAdmin" class="example-margin">Employee Admin</mat-checkbox>
            </div>

            <div class="w-full py-3">
                <mat-checkbox (change)="checkItem(9, $event)" formControlName="employeeHr" class="example-margin">Employee HR</mat-checkbox>
            </div>
           
            <div class="w-full py-3">
                <mat-checkbox (change)="checkItem(2, $event)" formControlName="employeeSuperVisor" class="example-margin">Employee Supervisor</mat-checkbox>
            </div>
           
            <div class="w-full py-3">
                <mat-checkbox (change)="checkItem(10, $event)" formControlName="superAdmin" class="example-margin">Super Admin</mat-checkbox>
            </div>


        </div>


    </form>


    <div class="flex flex-row pt-3">
        <ng-container>
            <button (click)="save()" class="rounded-md bg-primary-600 text-white" mat-flat-button>
                Save
            </button>
        </ng-container>

        <ng-container>
            <button (click)="close()" class="rounded-md ml-2" mat-stroked-button>
                Close
            </button>
        </ng-container>

    </div>


</div>