<div class="w-full flex flex-col">
    <div class="pl-9 pt-5">
        <span class="font-semibold text-lg mb-3">Edit Permission for {{permissionData.menuName + ' - ' +
            permissionData.roleName}}</span>
        <mat-divider class="mt-4"></mat-divider>
    </div>
    <form [formGroup]="form" class="pl-9 pt-5">

        <div class="flex flex-col space">
            <div class="w-full md:w-1/4 pb-3 mb-2 md:mb-0">

                <mat-checkbox formControlName="isAdd" class="example-margin">Create</mat-checkbox>
            </div>

            <div class="w-full md:w-1/4 py-3 mb-2 md:mb-0">

                <mat-checkbox formControlName="isEdit" class="example-margin">Edit</mat-checkbox>
            </div>

            <div class="w-full md:w-1/4 py-3 mb-2 md:mb-0">

                <mat-checkbox formControlName="isApprove" class="example-margin">Approve</mat-checkbox>
            </div>

            <div class="w-full md:w-1/4 py-3 mb-2 md:mb-0">
                <mat-checkbox formControlName="isDelete" class="example-margin">Delete</mat-checkbox>
            </div>

        </div>


    </form>
    <div class="flex flex-row pl-9 pt-5">
        <ng-container>
            <button (click)="save()" class="rounded-md bg-primary-600 text-white" mat-flat-button>
                Save
            </button>
        </ng-container>

        <ng-container>
            <button (click)="close()" class="rounded-md ml-2" mat-stroked-button>
                Close
            </button>
        </ng-container>

    </div>


</div>