<div class="w-full flex flex-col">
    <div class="flex flex-wrap items-center text-sm font-medium m-9 text-black dark:text-white cursor-pointer">
        <a class="whitespace-nowrap">Setup</a>
        <div class="flex items-center ml-1 whitespace-nowrap">
            <mat-icon
                class="icon-size-5 text-secondary"
                [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
            <div (click)="navigate()" class="cursor-pointer hover:text-primary-600">Requisition Product</div>
            <mat-icon
                class="icon-size-5 text-secondary"
                [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
            <a *ngIf="!userId" class="ml-1 hover:text-primary-600">Add New Requisition Product</a>
            <a *ngIf="userId" class="ml-1 hover:text-primary-600">Edit Requisition Product</a>
        </div>
    </div>
    <div class="pl-9 pt-5">
        <span *ngIf="userId"class="font-semibold text-lg mb-3">Edit Requisition Product</span>
        <span *ngIf="!userId" class="font-semibold text-lg mb-3">Add Requisition Product</span>
        <mat-divider class="mt-4 w-3/4"></mat-divider>
    </div>
    <form [formGroup]="form" class="m-6">

        <div class="flex flex-row">
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">

                <mat-form-field class="w-full">
                    <mat-label>Requisition Product</mat-label>
                    <input formControlName="name" matInput>
                    <mat-error>
                        Requisition Product is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">

                <mat-form-field class="w-full">
                    <mat-label>Requisition Category</mat-label>
                    <mat-select class="h-11" formControlName="categoryId">
                        <mat-option *ngFor="let category of requisitionCategories" [value]="category.id">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <div class="flex flex-row">
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <button (click)="onSubmit()" class="bg-primary-500 large w-full hover:bg-primary-700 text-white py-2 px-8 rounded-md">
                    Save
                </button>
            </div>
        </div>

    </form>

</div>
