<div style="display: block !important;">
    <div class="dialog">
        <div class="relative flex flex-col justify-between sm:flex-row flex-0 py-2 pl-2 border-b ">

            <div class="text-xl text-primary-500 font-extrabold tracking-tight">Employee Details</div>
            <button (click)="close()" mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>

        </div>
        <mat-dialog-content class="content">
            <div style="display: block !important;">
                <div class="fuse-card">
                    <div class="sidebar" fxFlex="50">
                        <div class="m-2 leading-8">
                            <p><b>Employee Name:&nbsp;&nbsp; </b>{{employeeData?.name}}</p>
                            <p><b>Employee ID: &nbsp;&nbsp;</b>{{employeeData?.employeeCode}}</p>
                            <p><b>Email: &nbsp;&nbsp;</b>{{employeeData ? employeeData.email : 'N/A'}}</p>
                            <p><b>Phone: &nbsp;&nbsp;</b>{{employeeData ? employeeData.mobileNumber : 'N/A'}}</p>
                            <p><b>Designation: &nbsp;&nbsp;</b>{{employeeData ? employeeData.designation :
                                'N/A'}}</p>
                            <p><b>Office Name: &nbsp;&nbsp;</b>{{employeeData ? employeeData.officeName :
                                'N/A'}}</p>
                            <p><b>Payroll Designation: &nbsp;&nbsp;</b>{{employeeData ?
                                employeeData.payrollDesignation : 'N/A' }}</p>
                            <p><b>Sitting Location: &nbsp;&nbsp;</b>{{employeeData?.sittingLocation}}</p>
                            <p><b>Gender: &nbsp;&nbsp;</b>{{employeeData ? employeeData.gender : 'N/A'}}</p>
                            <p><b>Blood Group: &nbsp;&nbsp;</b>{{employeeData ? employeeData.bloodGroup : 'N/A'}}</p>
                            <p><b>Roles: &nbsp;&nbsp;</b><span *ngFor="let role of employeeData?.roles; let i= index">
                                    <span *ngIf="employeeData.roles.length > 1">{{i+1}}.&nbsp;</span>{{role.name}}&nbsp;&nbsp;
                                </span>
                            </p>

                        </div>
                    </div>
                </div>

            </div>


            <!-- <div>
                <mat-dialog-actions>
                    <ng-container>
                        <button (click)="close()" class="rounded-md ml-2" mat-stroked-button>
                            Close
                        </button>
                    </ng-container>
                </mat-dialog-actions>
            </div> -->
        </mat-dialog-content>
    </div>

</div>