<div style="display: block !important;">
    <div class="dialog">
        <div class="relative flex flex-col justify-between sm:flex-row flex-0  py-1 pl-2 border-b ">

            <div class="text-xl text-primary-500 font-extrabold tracking-tight">Requisition Details</div>
            <button (click)="close()" mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>

        </div>
        <mat-dialog-content class="content">
            <div style="display: block !important;">
                <div class="fuse-card">
                    <div class="sidebar">
                        <div class="m-2 leading-8">
                            <p><b>Employee Name:&nbsp;&nbsp; </b>{{requisitionData.employeeName}}</p>
                            <p><b>Requisition Type: &nbsp;&nbsp;</b>{{requisitionData.typeName}}</p>
                            <p><b>Requisition Category: &nbsp;&nbsp;</b>{{requisitionData ? requisitionData.categoryName
                                : 'N/A'}}</p>
                            <p><b>Requisition Product: &nbsp;&nbsp;</b>{{requisitionData ? requisitionData.productName :
                                'N/A'}}</p>
                            <p><b>Quantity: &nbsp;&nbsp;</b>{{requisitionData ? requisitionData.quantity : 'N/A'}}</p>
                            <p><b>Remarks: &nbsp;&nbsp;</b>{{requisitionData ? requisitionData.remarks : 'N/A'}}</p>
                            <p><b>Status: &nbsp;&nbsp;</b>{{requisitionData ? requisitionData.status : 'N/A'}}</p>

                        </div>

                    </div>
                    <form [formGroup]="form" class="flex flex-col pl-2">

                        <!-- <mat-radio-group formControlName="status" class="mb-2" aria-label="Select an option">
                            <mat-radio-button class="mr-2" value=1>Accept</mat-radio-button>
                            <mat-radio-button value=2>Reject</mat-radio-button>
                        </mat-radio-group> -->
                        <mat-form-field class="w-full">
                            <mat-label>Remarks</mat-label>
                            <textarea matInput placeholder="Write a remark"></textarea>
                        </mat-form-field>
                    </form>
                    <!-- <button (click)="save()" class="rounded-md ml-2 bg-primary-500 text-white" mat-raised-button>
                        Submit
                    </button> -->
                    <button (click)="onSubmit(1)"
                        class="bg-transparent mr-2 ml-2 hover:bg-green-500 disabled:hover:bg-gray-400 disabled:text-white disabled:bg-gray-400 disabled:cursor-not-allowed font-medium hover:text-white py-1 px-4 border disabled:border-none border-green-500 hover:border-transparent rounded">
                        Accept
                    </button>
                    <button (click)="onSubmit(2)"
                        class="bg-transparent hover:bg-red-500 ml-2 font-medium hover:text-white py-1 px-4 border border-red-500 hover:border-transparent rounded disabled:hover:bg-gray-400 disabled:text-white disabled:bg-gray-400 disabled:cursor-not-allowed disabled:border-none">
                        Reject
                    </button>
                </div>

            </div>


            <!-- <div class="pl-2">
            </div> -->
        </mat-dialog-content>
    </div>

</div>