<div class="w-full flex flex-col">
    <div class="flex flex-wrap items-center font-medium text-sm m-9 text-black dark:text-white cursor-pointer">
        <a class="whitespace-nowrap">Setup</a>
        <div class="flex items-center ml-1 whitespace-nowrap">
            <mat-icon
                class="icon-size-5 text-secondary"
                [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
            <span (click)="navigate()" class="hover:text-primary-700">Requisition Category</span>
            <mat-icon
                class="icon-size-5 text-secondary"
                [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
            <a *ngIf="!userId" class="ml-1 hover:text-primary-700">Add New Requisition Category</a>
            <a *ngIf="userId" class="ml-1 hover:text-primary-700">Edit Requisition Category</a>
        </div>
    </div>
    <div class="pl-9 pt-5">
        <span *ngIf="userId"class="font-semibold text-lg mb-3">Edit Requisition Category</span>
        <span *ngIf="!userId" class="font-semibold text-lg mb-3">Add Requisition Category</span>
        <mat-divider class="mt-4 w-3/4"></mat-divider>
    </div>
    <form [formGroup]="form" class="m-6">

        <div class="flex flex-row">
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">

                <mat-form-field class="w-full">
                    <mat-label>Requisition Category</mat-label>
                    <input formControlName="name" matInput>
                    <mat-error>
                        Requisition Category is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">

                <mat-form-field class="w-full">
                    <mat-label>Requisition Type</mat-label>
                    <mat-select class="h-11" formControlName="typeId">
                        <mat-option *ngFor="let type of requisitionTypes" [value]="type.id">
                            {{type.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <div class="flex flex-row">
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <button (click)="onSubmit()" class="bg-primary-500 large w-full hover:bg-primary-700 text-white py-2 px-8 rounded-md">
                    Save
                </button>
            </div>
        </div>

    </form>

</div>
